# 추가됨
plotly.express

# 핵심 프레임워크
streamlit
pandas
numpy

# 시각화 및 데이터 분석
plotly
scikit-learn
scipy
matplotlib

# AI 및 언어 모델 (LangChain 관련)
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-chroma
langchain-huggingface
google-genai

# 유틸리티
python-dotenv
requests
pillow
PyMuPDF
sentence-transformers
pydantic